.footer__title {
    font-size: var(--size-sm);
    font-weight: 400;
    color: var(--clr-slate300);
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    margin: 1rem;
}